extends ../_layouts/_base

block vars
    - title = 'Log In'

block content
    h1 Log In
    <p>Aspernatur quas erat, qui cursus. Dolore blandit aspernatur, sapien arcu veniam odit aptent aliquip. Fames! Aliqua quis occaecati atque suspendisse netus omnis lectus excepteur! Quos ornare! Ante dis? Facere facere, lobortis leo. Hendrerit nostrum molestiae itaque error dignissim scelerisque malesuada rhoncus do cum voluptas! Eget lectus! Eget maiores corporis! Elementum erat commodo. Urna dapibus praesent taciti, eleifend tellus voluptate nascetur voluptas nonummy euismod quod, repellendus numquam? Eveniet torquent minim nisl nunc! Dictum temporibus wisi, nibh magnam atque mollitia dolorem quos sodales rerum dolores similique nihil irure nostra parturient, fringilla quibusdam doloremque sem aliquid donec nonummy consequuntur, architecto porta! Tincidunt, malesuada.</p>
