extends ../_layouts/_base

block localCSS
    link(type='text/css' rel='stylesheet' href='/static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')
    link(type='text/css' rel='stylesheet' href='/static/bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')

block localJS
    script(src='/static/bower_components/datatables.net/js/jquery.dataTables.min.js')
    script(src='/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
    script(src='/static/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js')
    script(src='/static/bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js')
    script(src='/static/js/home/run.min.js')

block vars
    - title = 'Run'

block content
    .intro
        span.text-center They say a picture is worth a thousand words. The question is, what are they?
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FaceTags is here to answer that! With FaceTags, you can look up check out what your friends' profile pictures contain and what is the most common thing between them. Don't know how many friends have cats as their profile picture? We will let you know! Just log in and click "OK", "Accept", or whatever Facebook warns you about (we don't store your info, we promise) and you are on your way to getting to know your Facebook friends even better!
        

    .divider

    .tag-container
        #view
            table.table.table-bordered.table-striped.dt-responsive
                thead
                    tr
            .text-center
                fb:login-button(size='xlarge' scope="email,user_friends,user_photos,public_profile" onlogin="checkLoginState();")
            h3.loading-message
