extends ../_layouts/_base

block localCSS
    link(type='text/css' rel='stylesheet' href='/static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css')
    link(type='text/css' rel='stylesheet' href='/static/bower_components/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')

block localJS
    script(src='/static/bower_components/datatables.net/js/jquery.dataTables.min.js')
    script(src='/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
    script(src='/static/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js')
    script(src='/static/bower_components/datatables.net-responsive-bs/js/responsive.bootstrap.js')
    script(src='/static/js/home/run.min.js')

block vars
    - title = 'Run'

block content
    .intro.center-block
        .text-center: h3 Here is an example, click the button below to tag your friends!
        img.img-responsive(src='/static/img/preview.jpg' width='100%' height='auto')

    .divider

    .tag-container
        #view
            table.table.table-bordered.table-striped.dt-responsive
                thead
                    tr
            .text-center
                .fb-btn
                    fb:login-button(size='xlarge' scope="email,user_friends,user_photos,public_profile" onlogin="checkLoginState();")
            h3.loading-message
