nav.navbar-navbar-default
    .container-fluid
        .navbar-header.navbar-full
            a.navbar-brand(href='/')
                img.img-responsive.center-block(src='/static/img/logo/logo-dbl-lg.png')
